
{% extends 'base.html' %}
{% load static %}
{% block content %}


         {% include 'alerts2.html' %}

                                      <script>
                                          setTimeout(function(){
                                            if ($('#message').length > 0){
                                              $('#message').remove();
                                              }
                                            },3000)

                                          </script>

        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="shop-p">
                                <div class="shop-p__toolbar u-s-m-b-30">

                                    <div class="shop-p__tool-style">
                                        <div class="tool-style__group u-s-m-b-8">

                                            <span class="js-shop-filter-target" data-side="#side-filter">Filters</span>

                                            <span class="js-shop-grid-target is-active">Grid</span>

                                            <span class="js-shop-list-target">List</span></div>
                                    </div>
                                </div>
                                <div class="shop-p__collection">
                                    <div class="row is-grid-active">
                                        {% for h_product in h_products %}

                                        <div class="col-lg-3 col-md-4 col-sm-6">
                                            <div class="product-m">
                                                <div class="product-m__thumb">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="{{h_product.get_url}}">

                                                        <img class="aspect__img" src="{{h_product.images.url}}" style="width:600 height:600;" alt=""></a>
<!--                                                    <div class="product-m__quick-look">-->

<!--                                                        <a class="fas fa-search" data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick Look"></a></div>-->
                                                    <div class="product-m__add-cart">

                                                        <a class="btn--e-brand" href="#" data-modal="modal">REQUEST TO CHAT</a></div>
                                                </div>
                                                <div class="product-m__content">
                                                    <div class="product-m__category">

                                                        <a href="#">{{h_product.category}}</a></div>
                                                    <div class="product-m__name">

                                                        <a href="{{h_product.get_url}}">{{h_product.ad_title}}</a></div>
<!--                                                    <div class="product-m__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>-->

<!--                                                        <span class="product-m__review">(23)</span></div>-->
                                                    <div class="product-m__price">₹{{h_product.rent}}/month</div>
                                                    <div class="product-m__hover">
                                                        <div class="product-m__preview-description">

                                                            <span>{{h_product.add_info}}</span></div>
                                                        <div class="product-m__wishlist">

                                                            <a class="far fa-heart" href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}

                                         {% for c_product in c_products %}

                                        <div class="col-lg-3 col-md-4 col-sm-6">
                                            <div class="product-m">
                                                <div class="product-m__thumb">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="{{c_product.get_url}}">

                                                        <img class="aspect__img" src="{{c_product.images.url}}" style="width:600 height:600;" alt=""></a>
<!--                                                    <div class="product-m__quick-look">-->

<!--                                                        <a class="fas fa-search" data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick Look"></a></div>-->
                                                    <div class="product-m__add-cart">

                                                        <a class="btn--e-brand" href="#" data-modal="modal">REQUEST TO CHAT</a></div>
                                                </div>
                                                <div class="product-m__content">
                                                    <div class="product-m__category">

                                                        <a href="#">{{c_product.category}}</a></div>
                                                    <div class="product-m__name">

                                                        <a href="{{c_product.get_url}}">{{c_product.ad_title}}</a></div>
<!--                                                    <div class="product-m__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>-->

<!--                                                        <span class="product-m__review">(23)</span></div>-->
                                                    <div class="product-m__price">₹{{c_product.rent}}/month</div>
                                                    <div class="product-m__hover">
                                                        <div class="product-m__preview-description">

                                                            <span>{{c_product.add_info}}</span></div>
                                                        <div class="product-m__wishlist">

                                                            <a class="far fa-heart" href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% for b_product in b_products %}

                                        <div class="col-lg-3 col-md-4 col-sm-6">
                                            <div class="product-m">
                                                <div class="product-m__thumb">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="{{b_product.get_url}}">

                                                        <img class="aspect__img" src="{{b_product.images.url}}" style="width:600 height:600;" alt=""></a>
<!--                                                    <div class="product-m__quick-look">-->

<!--                                                        <a class="fas fa-search" data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick Look"></a></div>-->
                                                    <div class="product-m__add-cart">

                                                        <a class="btn--e-brand" href="#" data-modal="modal">REQUEST TO CHAT</a></div>
                                                </div>
                                                <div class="product-m__content">
                                                    <div class="product-m__category">

                                                        <a href="#">{{b_product.category}}</a></div>
                                                    <div class="product-m__name">

                                                        <a href="{{b_product.get_url}}">{{b_product.ad_title}}</a></div>
<!--                                                    <div class="product-m__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>-->

<!--                                                        <span class="product-m__review">(23)</span></div>-->
                                                    <div class="product-m__price">₹{{b_product.rent}}/month</div>
                                                    <div class="product-m__hover">
                                                        <div class="product-m__preview-description">

                                                            <span>{{b_product.add_info}}</span></div>
                                                        <div class="product-m__wishlist">

                                                            <a class="far fa-heart" href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% for f_product in f_products %}

                                        <div class="col-lg-3 col-md-4 col-sm-6">
                                            <div class="product-m">
                                                <div class="product-m__thumb">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="{{f_product.get_url}}">

                                                        <img class="aspect__img" src="{{f_product.images.url}}" style="width:600 height:600;" alt=""></a>
<!--                                                    <div class="product-m__quick-look">-->

<!--                                                        <a class="fas fa-search" data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick Look"></a></div>-->
                                                    <div class="product-m__add-cart">

                                                        <a class="btn--e-brand" href="#" data-modal="modal">REQUEST TO CHAT</a></div>
                                                </div>
                                                <div class="product-m__content">
                                                    <div class="product-m__category">

                                                        <a href="#">{{f_product.category}}</a></div>
                                                    <div class="product-m__name">

                                                        <a href="{{f_product.get_url}}">{{f_product.ad_title}}</a></div>
<!--                                                    <div class="product-m__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>-->

<!--                                                        <span class="product-m__review">(23)</span></div>-->
                                                    <div class="product-m__price">₹{{f_product.rent}}/month</div>
                                                    <div class="product-m__hover">
                                                        <div class="product-m__preview-description">

                                                            <span>{{f_product.add_info}}</span></div>
                                                        <div class="product-m__wishlist">

                                                            <a class="far fa-heart" href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}

                                        {% for o_product in o_products %}

                                        <div class="col-lg-3 col-md-4 col-sm-6">
                                            <div class="product-m">
                                                <div class="product-m__thumb">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="{{o_product.get_url}}">

                                                        <img class="aspect__img" src="{{o_product.images.url}}" style="width:600 height:600;" alt=""></a>
<!--                                                    <div class="product-m__quick-look">-->

<!--                                                        <a class="fas fa-search" data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick Look"></a></div>-->
                                                    <div class="product-m__add-cart">

                                                        <a class="btn--e-brand" href="#" data-modal="modal">REQUEST TO CHAT</a></div>
                                                </div>
                                                <div class="product-m__content">
                                                    <div class="product-m__category">

                                                        <a href="#">{{o_product.category}}</a></div>
                                                    <div class="product-m__name">

                                                        <a href="{{o_product.get_url}}">{{o_product.ad_title}}</a></div>
<!--                                                    <div class="product-m__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>-->

<!--                                                        <span class="product-m__review">(23)</span></div>-->
                                                    <div class="product-m__price">₹{{o_product.rent}}/month</div>
                                                    <div class="product-m__hover">
                                                        <div class="product-m__preview-description">

                                                            <span>{{o_product.add_info}}</span></div>
                                                        <div class="product-m__wishlist">

                                                            <a class="far fa-heart" href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}




                                    </div>
                                </div>
                                <div class="u-s-p-y-60">

                                    {% if products.has_other_pages %}

                                    <ul class="shop-p__pagination">
                                         {% for i in products.paginator.page_range  %}

                                            {% if products.number == i %}
                                            <li class="is-active">

                                                <a href="#">{{i}}</a></li>
                                            {% else %}
                                        <li>

                                            <a href="?page={{i}}">{{i}}</a></li>
                                        <li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    <!--====== End - Pagination ======-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->
        </div>
        <!--====== End - App Content ======-->

{% endblock %}
